.header {
    display: flex;

    .left {
        flex: 1;
    }

    .right {
        flex: 1;
        text-align: right;
    }
}

.content {
    text-align: left;
    margin-bottom: 20PX;
}

.footer {
    text-align: center;
    justify-items: center;
}