.wrapper {
    margin-top: 12px;
    cursor: pointer;
    background-color: white;
    border: 1px solid blue;
    padding: 12px;
    border-radius: 3px;

    &:hover {

        border-color: gray;
    }

}

.component {
    pointer-events: none;
}